GOOGLE_CLIENT_ID=asdf
GOOGLE_CLIENT_SECRET=asdf
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/api/auth/callback
DATABASE_URL=asdf

# Direct connection to the database. Used for migrations.
DIRECT_URL=asdf
YOUTUBE_API_KEY=asdf